In [15]:
import pandas as pd

The pandas package is used to retrieve the desired document using the "read_csv" method.

In [16]:
data = pd.read_csv("world_cup_matches.csv")

In [17]:
data.head()

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
0,1,1930,1930-07-13,Group stage,France,4,1,Mexico,NaN,False
1,2,1930,1930-07-13,Group stage,United States,3,0,Belgium,NaN,False
2,3,1930,1930-07-14,Group stage,Yugoslavia,2,1,Brazil,NaN,False
3,4,1930,1930-07-14,Group stage,Romania,3,1,Peru,NaN,False
4,5,1930,1930-07-15,Group stage,Argentina,1,0,France,NaN,False

In [18]:
data.tail()

,ID,Year,Date,Stage,Home Team,Home Goals,Away Goals,Away Team,Win Conditions,Host Team
895,896,2018,2018-07-07,Quarter-finals,Russia,2,2,Croatia,Croatia win on penalties (3 - 4),True
896,897,2018,2018-07-10,Semi-finals,France,1,0,Belgium,NaN,False
897,898,2018,2018-07-11,Semi-finals,Croatia,2,1,England,Extra time,False
898,899,2018,2018-07-14,Third place,Belgium,2,0,England,NaN,False
899,900,2018,2018-07-15,Final,France,4,2,Croatia,NaN,False

In [19]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900 entries, 0 to 899
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ID              900 non-null    int64
 1   Year            900 non-null    int64
 2   Date            900 non-null    object
 3   Stage           900 non-null    object
 4   Home Team       900 non-null    object
 5   Home Goals      900 non-null    int64
 6   Away Goals      900 non-null    int64
 7   Away Team       900 non-null    object
 8   Win Conditions  62 non-null     object
 9   Host Team       900 non-null    bool
dtypes: bool(1), int64(4), object(5)
memory usage: 64.3+ KB

In [20]:
data.isna().sum()

ID                  0
Year                0
Date                0
Stage               0
Home Team           0
Home Goals          0
Away Goals          0
Away Team           0
Win Conditions    838
Host Team           0
dtype: int64

The column "Win Conditions" has 838 missing values.The column has no direct relationship with the other columns hence it will be impossible to impute the missing values by subgroup to reduce the missing values.Therefore, the missing values are directly dropped using "dropna" method.

In [21]:
cups = data.dropna()

In [22]:
cups.isna().sum()

ID                0
Year              0
Date              0
Stage             0
Home Team         0
Home Goals        0
Away Goals        0
Away Team         0
Win Conditions    0
Host Team         0
dtype: int64